<div class="back" style="height:1500px">
    
    <h1 class="text-center" style="margin-bottom:80px; padding-top:50px;"><a href="/" style="color:black">リアル山手線ゲーム</a></h1>
    
    <div class="text-center" style="font-size:180%; margin-bottom:30px"><%= @station.name %></div>
    <div class="text-center" style="font-size:150%; font-weight:bold"><%= @station.mission %></div>
    
    <div class="text-center"  style="margin-top:300px"><img src="http://2.bp.blogspot.com/-5kBG6BNvlK8/UrEc0HkfoYI/AAAAAAAAbsw/eCxUqZKsa9M/s800/01yamanote.png"></div>

</div>